/* #########################  start : FLASH ######################### */

.fSuccess{
	color:#95b500;;
}

.flash{
	z-index:1000;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-weight:bold;
    background:white;
    margin-bottom: 15px;
}

.fError{
	color:Salmon;;
}

/* #########################  end : FLASH ######################### */

body{
	font-family:Segoe UI;
	margin:0;
	width:50%;
	margin:auto ;
	background:url('../img/pattern/graphy.png');
}

h1, h2, h3, p{
	margin:0;
}

#mainContainer{
    //background: rgba(255,255,255,0.5);
    padding:15px;
    background:whitesmoke;
}

header, #footer{
	padding:15px;
	color:white;
	background:#333;
}

h1{
	letter-spacing: 2px;
}

header{
	border-bottom:5px solid skyblue;
}

#footer{
	border-top:5px solid skyblue;
	text-align:center;
}

header h3, #footer h3{
	color:skyblue;
}

form{
	padding:35px;
	width:50%;
	margin:auto;
}

input, select{
	font-size:14px;
	font-family:Segoe ui;
	margin-bottom:15px;
	padding:15px;
	box-sizing:border-box;
	width:100%;
	display:block;
	outline-color:rgba(135,206,235,1);
}

input.submit{
	cursor:pointer;
	background:rgba(135,206,235,1);
	border:none;
	color:white;
	font-size:17px;
	font-weight:bold;
	margin:0;
}

input.submit:hover{
	background:rgba(135,206,235,0.8);
}

#formRelancer{
	float:right;
	padding:0;
	width:auto;
	margin:auto;
}

#formRelancer input{
	font-size:17px;
	color:white;
	padding:15px;
	outline:none;
	cursor:pointer;
	background:Salmon;
	margin-right:35px;
	border:none;
}

#formRelancer input:hover{
	background:rgba(250,128,114,0.8);
}

a.aTitle{
    color: white;
    font-weight: bold;
    font-family: Segoe ui light;
}

a.aTitle:hover{
	color:skyblue;
}

div.divTitle{
	padding:15px;
	background:white;
	color:skyblue;
}

span.floatRight{
	float:right;
    color:white;
}

span.black{
	color:#333;
}

div.divTitle h1{
	//display:inline-block;
}

a.btnAction{
	display:inline;
	font-size:inherit;
	font-weight:normal;
	padding:10px;
	border-radius:3px;
	background:skyblue;
}

a.btnAction:hover{
	background:steelblue;
}

a.btnAction:hover{
	color:white;
}

a.aTitleAccordion{
padding:15px;
display:block;
}

a.defaultAccordion{
	background:skyblue;	
}


/* #########################  NOTRE BOOTSTRAP ######################### */

.table>thead>tr>th{
	border:none;
}

.table>thead>tr{
	background:powderblue;
}

.table{
	margin:0;
}

.navbar{
	min-height:0;
	padding:15px;
}

.navbar ul li a{
	display:inline-block;
	padding:0;
	margin-left:10px;
}

.panel-group{
	margin:0;
}

.panel-default>.panel-heading{
    padding: 0;
    color: white;
}

.panel-default>.panel-heading a{
	text-decoration:none;
}

.panel-default>.panel-heading a:hover{
	background:rgba(135,206,235,0.8);
}

.row{
	margin : 0;
}

.table-hover > tbody > tr:hover td:first-of-type{
	border-color:yellowgreen;
}

.table-hover > tbody > tr:hover{
	cursor:pointer;
	background:white;
	color:yellowgreen;
}


#bs-example-navbar-collapse-7 ul li a:hover{
	color:yellowgreen;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vertical-align:middle;
	padding: 15px;
}

.panel-body{
	padding:0;
}

a:hover{
	text-decoration:none;
	color:inherit;
}
/* #########################  end : BOOTSTRAP ######################### */

/* #########################  start: accordion color ######################### */

.naAccordion{
	background:salmon;
}

.panel-default>.panel-heading a.naAccordion:hover{
	background:rgba(250,128,114,0.8);
}

.afAccordion{
	background:coral;
}

.panel-default>.panel-heading a.afAccordion:hover{
	background:rgba(255,127,80,0.8);
}

.ecAccordion{
	background:teal;
}

.panel-default>.panel-heading a.ecAccordion:hover{
	background:rgba(0,128,128,0.8);
}

.teAccordion{
	background:yellowgreen;
}

.panel-default>.panel-heading a.teAccordion:hover{
	background:rgba(154,205,50,0.8);
}
/* #########################  end: accordion color ######################### */
